/* Includes styles for the to do lists - green background section and below */

/*
 * Global layout stuff
 */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}



body {
  color: #11ad69;
  background-color: #b4dad1;
  font-size: 24px;
  font-family: 'Cabin', sans-serif;

}


/*
 * Body stuff
 */

.to_do_lists {
  background-color: #11ad69;
  color: #b4dad1;
  height: calc(100% - 300px);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: top;
  padding-top: 25px;
}

.to_do_1 .to_do_2 .to_do_3 .to_do_4 {
text-align: left;
}

h4 {
  color: #b4dad1;
  font-size: 55px;
  font-weight: normal;
  padding: 0px;
  margin: -3px;

}

.imgResize {
  height: auto;
  width: auto;
  max-width: 45px;
  max-height: 45px;
}

.imgResize2 {
  height: auto;
  width: auto;
  max-width: 39px;
  max-height: 39px;
  margin-bottom: 4px;
}

.left {
  text-align: left;
  padding-left: 10px;
  vertical-align: bottom;
  word-wrap:break-word;
}

.right {
  text-align: right;
  padding-right: 10px;
  vertical-align: bottom;

}

input[type=checkbox] {
  position: relative;
  cursor: pointer;
  top: -5px;
  left: -10px;

}
input[type=checkbox]:before {
  content: "";
  display: block;
  position: absolute;
  background-color: #11ad69;
  font: inherit;
  width: 22px;
  height: 22px;
  border: 0.1em solid #ffd33e;
  place-content: center;
  margin-bottom: 25px;
}

input[type=checkbox]:before {
  content: "";
  display: block;
  position: absolute;
  background-color: #11ad69;
  font: inherit;
  width: 22px;
  height: 22px;
  border: 0.1em solid #ffd33e;
  place-content: center;


}
input[type=checkbox]:checked:after {
  content: "";
  display: block;
  width: 10px;
  height: 17px;
  border: solid #ffd33e;
  border-width: 0 4px 4px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 1px;
  left: 6px;
}




/* Dropdown Button */
.dropbtn {
  background-color: #11ad69;
  border: none;
  color: #b4dad1;
  margin-bottom: -3px;
  margin-left: -7px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #b4dad1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd; color: #11ad69;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn
{color: #ffd33e;}
