/* Includes styles for the center - "What do you need to remember", input form, submit button */

.to_do_items {
  align-items: center;
  display: flex;
  flex-direction: column;
  }

  h3 {
    font-size: 2.5em;
    font-weight: normal;
    margin-bottom: 9px;
    padding-bottom: 0px;
  }

  .input {
    width: 50%;
    border-bottom: 5px solid #550e6f;
    margin: 0px;
    padding: 0px;
    margin-bottom: 20px;
    display: flex;
  flex-direction: row;
  font-weight: 400;

  }
  textarea {
    height: 35px;
    font-size: 28px;
  }

  textarea:focus, input:focus{
    outline: none;
     }

  #item_input {
    background-color: #b4dad1;
    border: 0px;
    resize: none;
    min-width: 600px;
  }

  #submitbutton {
    line-height: 30px;
    margin-bottom: 10px;
    border: 3px solid #550e6f;
    border-radius: 2px;
    background-color: #550e6f;
    color: #b4dad1;
    font-size: 28px;
  }

  #submitbutton:hover {
    background-color: #11ad69;
    border: 3px solid #11ad69;
  }
